.calendar .month {
  display: inline-block;
  margin: 0 10px 0 0px;
  text-align: center;
  vertical-align: top;
}

.issues-single, .issues-multiple {
  padding:5px;
  border: 1px solid #ddd;
}

.issues-single, .year-calendar .month .single, .issues-multiple, .year-calendar .month .multiple {
  background-color: #e6e8df;
}

.year-calendar .month .single a, .year-calendar .month .multiple a {
  color: #000;
  text-decoration: underline;
  font-weight: bold;
}

table.month td, table.month th {
  text-align: center;
}
