{% extends "__l_main.html" %}
{% load static %}

{% block head_page_css %}
  {{ block.super }}
  <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
{% endblock head_page_css %}

{% block head_item_metadata %}
  {% include "includes/lc_metadata.html" %}
{% endblock head_item_metadata %}

{% block javascript %}
  {{ block.super }}
  <script>
    var jumpYearLoc = "{% url 'calendar_all_issues_calendar_for_year' 9999 %}";
    $(function() {
      $("#jump-year").click(function() {
        window.location = jumpYearLoc.replace("9999", $("#id_year").val());
      });
    });
  </script>
{% endblock %}

{% block subcontent %}

<div id="std_box">
  {% include "year_select_form.html" %}
  {% include "year_calendar.html" %}
</div><!-- end id:std_box -->

{% endblock subcontent %}
