{% extends "__l_main.html" %}
{% load static %}

{% block subcontent %}

<div id="std_box">
  {% if not issues %}
    <p>No issues found</p>
  {% else %}
  <ul>
    {% for issue in issues %}
    <li>
      <a href="{% url 'openoni_issue_pages' issue.title.lccn dtstr issue.edition %}">
        {% if not title %}
        {{issue.title.name}} -
        {% endif %}
        {{issue.date_issued|date:'Y-m-d'}}{% if issue.edition > 1 %}, ed. {{issue.edition}}{% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div><!-- end id:std_box -->

{% endblock subcontent %}
