{% extends "__l_newspaper.html" %}
{% load static from staticfiles %}

{% block head_page_css %}
  {{ block.super }}
  <link href="{% static 'css/calendar.css' %}" rel="stylesheet" media="screen">
{% endblock head_page_css %}

{% block head_item_metadata %}
  {% include "includes/lc_metadata.html" %}
{% endblock head_item_metadata %}

{% block javascript %}
  {{ block.super }}
  <script>
    var jumpYearLoc = '{% url 'calendar_title_issues_calendar_for_year' title.lccn 9999 %}';
    $(function() {
      $("#jump-year").click(function() {
        var newloc = jumpYearLoc.replace("9999", $("#id_year").val());
        window.location = newloc;
      });
    });
  </script>
{% endblock %}

{% block extra_nav %}
  {% include "year_select_form.html" %}
{% endblock extra_nav %}

{% block newspaper_content %}
  {% include "year_calendar.html" %}
{% endblock newspaper_content %}
